@tailwind base;

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf');
  font-weight: 600;
}

:root {
  --skew-angle: -6.5deg;
  --skew-angle-tangent: 0.1139356083;
  --skew-offset: calc(var(--skew-angle-tangent) * calc(100vw/2) * -1);
  --form-height-above-center-diagonal: 6.5rem;
  --above-the-fold-height: 43.75rem;
  --nav-height: 3.125rem;
  --nav-distance-from-top: 0.875rem;
  --nav-offset-total: calc(var(--nav-height) + var(--nav-distance-from-top));
  --form-translate-y: -6rem;
}

@screen sm {
  :root {
    --nav-height: 4.375rem;
    --nav-distance-from-top: 1.25rem;
  }
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
}

* {
  box-sizing: border-box;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrap {
    @apply max-w-[90rem] px-[1.1rem] sm:px-[1.875rem] md:px-[2.75rem] xl:px-[3.75rem] mx-auto;
  }

  .paragraph-text-responsive {
    font-size: clamp(1.125rem,2.1vw,1.375rem);
  }
}

@layer components {
  .gradientBackground {
    background-image: url("../images/homepageGradient.svg");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blueVerticalGradient {
    background: linear-gradient(180deg, #EAD3FA -63.15%, #D7EEFF 17.1%, #FFFFFF 96.61%);
  }

  .testimonialSectionGradient {
    background: linear-gradient(224.84deg, #E13DFC 1.06%, #A04DF3 9.02%, #783AFA 51.27%, #4B26E1 74.98%, #2200AA 100%);
  }

  .knowMoreBox {
    background: linear-gradient(236.58deg, #FF9264 -4.19%, #FF487F 2.7%, #E13DFC 13.86%, #A04DF3 22.94%, #783AFA 31.2%, #4B26E1 38.48%, #2200AA 56.54%, #050046 74.02%);
    box-shadow: 0 .625rem 1.25rem rgba(236, 66, 162, 0.5);
    border-radius: 0.625rem;
  }

  .btn {
    @apply px-[1rem] py-[0.625rem] leading-7 rounded-[.625rem] cursor-pointer text-white font-semibold text-[1.25rem] w-fit;
  }
  
  .main-form label input, .main-form label select  {
    @apply border-[#B8C4D6] h-10 mt-[0.1875rem];
  }

  .main-form label > *, .main-form label { 
    @apply w-full
  }
}